.button_more {
  width: 240px;
  min-height: 36px;
  margin: 50px auto 80px;
  border-radius: 6px;
  background-color: #f9f9f9;
  font-style: normal;
  font-weight: 500;  font-family: Inter;

  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  border: none;
  cursor: pointer;
}
