.nav-tab {
  background-color: #000;
  max-width: 1280px;
  margin: 0 auto 0;
  height: 66px;
  display: flex;
  align-items: center;  font-family: Inter;

  justify-content: center;
}

.nav-tab__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
  margin: 0 auto 0 ;
  width: 276px;
  padding: 0;
}

.nav-tab__list-link {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  transition: 0.3s ease;
  margin: 23px auto 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-bottom: 0.1px;
}
.nav-tab__list-link:hover {
  opacity: 0.5;
}
html {
  scroll-behavior: smooth;
}